body { background: #9e6926; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 16px; display: flex; }
.block-database-0 { color: #f71aa0; font-size: 18px; margin-bottom: 5px; }
.block-helper-1 { color: #518b64; font-size: 15px; margin-bottom: 5px; }
.block-cluster-2 { color: #3e208b; font-size: 19px; margin-bottom: 5px; }
.block-payment-3 { color: #cb034a; font-size: 17px; margin-bottom: 5px; }
.block-cart-4 { color: #667311; font-size: 12px; margin-bottom: 5px; }